<mat-card class="container">

  <mat-card-title><a color="accent">Formulario de Denuncias</a></mat-card-title>

  <form>

    <app-select-recurso (recursoSeleccionado)="seleccionarRecurso($event)"></app-select-recurso>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Nombre</mat-label>
      <input type="text" disabled matInput value={{nombre}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Apellido Paterno</mat-label>
      <input type="text" disabled matInput value={{paterno}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Apellido Materno</mat-label>
      <input type="text" disabled matInput value={{materno}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>DNI</mat-label>
      <input type="text" disabled matInput value={{dni}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Celular</mat-label>
      <input name="celular" matInput type="text" [(ngModel)]="this.denuncia.celular">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Dirección</mat-label>
      <input name="direccion" required matInput type="text" [(ngModel)]="this.denuncia.direccion">
    </mat-form-field>

    <app-select-ubicacion (idDistrito)="seleccionarDistrito($event)"></app-select-ubicacion>

    <br>

    <mat-form-field style="cursor: pointer;" appearance="outline" class="inpt"
      (click)="this.openDialogEmpresaOperadora()">
      <mat-label>Empresa Operadora</mat-label>
      <input style="cursor: pointer;" disabled matInput type="text" [value]="this.eo.nombre">
    </mat-form-field>

    <app-select-servicio (servicioSeleccionado)="seleccionarServicio($event)"></app-select-servicio>

    <mat-form-field style="cursor: pointer;" appearance="outline" class="inpt" (click)="this.openDialogMateria()">
      <mat-label>Materia</mat-label>
      <input style="cursor: pointer;" disabled matInput type="text" [value]="this.materia.nombre">
    </mat-form-field>

    <!-- <app-file-drop></app-file-drop> -->

    <section>
      <mat-checkbox name="autorizo" [(ngModel)]="this.autorizo">
        <span style="white-space: normal;">Autorizo ser notificado en la siguiente dirección de correo electrónico
          (opcional):</span>
      </mat-checkbox><br>
      <mat-form-field appearance="outline" class="inpt">
        <mat-label>Email</mat-label>
        <input name="email" [disabled]="!autorizo" required matInput type="text" [(ngModel)]="this.denuncia.email">
      </mat-form-field>
    </section>


    <br>
    <button mat-raised-button [routerLink]="'/denuncias'" color="accent">Cancelar</button>
    <button mat-raised-button color="primary" (click)="this.crearDenuncia()">Enviar Denuncia</button>
  </form>
</mat-card>
