<mat-card class="content" style="overflow: auto;">
  <mat-card-title><a color="accent">Formulario de Denuncias</a></mat-card-title>
  <mat-divider></mat-divider>
  <form>
    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Nombre</mat-label>
      <input type="text" disabled matInput value={{nombre}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Apellido Paterno</mat-label>
      <input type="text" disabled matInput value={{paterno}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Apellido Materno</mat-label>
      <input type="text" disabled matInput value={{materno}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>DNI</mat-label>
      <input type="text" disabled matInput value={{dni}}>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Dirección</mat-label>
      <input required matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Provincia</mat-label>
      <input required matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Distrito</mat-label>
      <input required matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Celular</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <section>
      <mat-checkbox name="autorizo" [(ngModel)]="this.autorizo">
        <span style="white-space: normal;">Autorizo ser notificado en la siguiente dirección de correo electrónico (opcional):</span>
      </mat-checkbox>
      <mat-form-field appearance="outline" class="inpt">
        <mat-label>Email</mat-label>
        <input [disabled]="!autorizo" matInput type="text">
      </mat-form-field>
    </section>

    <br>
    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Empresa Operadora</mat-label>
      <mat-select>
        <mat-option value="e.id" *ngFor="let e of eos">
          {{e.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>N° /código del servicio/ contrato de abonado:</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>N° de expediente del TRASU</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Fecha de resolución del expediente del TRASU:</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>N° de resolución de la Empresa Operadora:</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>fecha de resolución de la Empresa Operadora:</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Fecha de SAR:</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="inpt">
      <mat-label>Fecha de SARA:</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <app-file-drop></app-file-drop>
    <br>
    <button mat-raised-button [routerLink]="'/denuncias'" color="accent">Cancelar</button>
    <button mat-raised-button color="primary">Enviar Denuncia</button>
  </form>
</mat-card>
