

  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p style="font-weight: bold;">Asistente virtual</p>
      <span *ngIf="showFiller">
          <div class="mensajes">
            
            <div class="pregunta burbuja">
                <p>¿En qué le puedo ayudar?</p>
            </div>
            <div class="respuesta burbuja">
                <p>Quiero presentar una denuncia</p>
            </div>
            
          </div>
        </span>
      <button class="asist" (click)="showFiller = !showFiller" mat-raised-button>
        <span class="but">Ayuda</span>
      </button>
    </mat-drawer>
    <div class="example-button-container">
        <button mat-fab color="primary" (click)="drawer.toggle()">
          <mat-icon>adb</mat-icon>
        </button>
      </div>
  </mat-drawer-container>