section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-container {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  justify-content: center;
}

.example-container {
  max-width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  position: fixed;
  bottom: 75px;
  right: 35px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 2px solid green;
  background-color: rgb(222, 233, 201);
  border-radius: 20px;
}

.asist {
  border: 2px solid green;
  border-radius: 10px;
}
.but {
  color: green;
}
.mensajes {
  max-width: 250px;
  margin-bottom: 5px;
}

.mensajes .pregunta {
  max-width: 200px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  background-color: rgb(240, 217, 217);
  padding: 10px;
  color:black;
  border-radius: 10px;
}

.mensajes .pregunta p {
  margin: auto;
  text-align: right;
}
.mensajes .respuesta {
  max-width: 200px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: 0;
  position: relative;
  background-color: white;
  padding: 10px;
  color: green;
  border-radius: 10px;
}

.mensajes .respuesta p {
  margin: auto;
  text-align: left;
}


