/* You can add global styles to this file, and also import other style files */

@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin: 24px;
    text-align: center;
}

.bloque-linea {
    margin: 1em;
    display: inline-block;
    overflow: auto;
}

.canal-list-item {
    height: fit-content !important;
    margin-bottom: 2%;
}

.canal-mat-line {
    white-space: normal !important;
}

.spacer {
    flex: 1 1 auto;
}

@media screen and (max-width:600px) {
    .contenido-main {
        padding-top: 56px;
        overflow-y: auto;
        height: 100%;
    }
}

@media screen and (max-width:1024px) and (min-width:600px) {
    .contenido-main {
        padding-top: 64px;
        overflow-y: auto;
        height: 100%;
    }
    .bloque-linea {
        width: 32%;
    }
}

@media screen and (min-width:1024px) {
    .contenido-main {
        padding-top: 64px;
        overflow-y: auto;
        height: 100%;
    }
    .bloque-linea {
        width: 25%;
    }
}