.contenedor {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.section {
    display: table;
    padding-top: 10px;
  }
  
  .label {
    display: table-cell;
    font-size: x-large;
    padding-left: 10px;
  }
  
  .l-row {
    display: table-cell;
  }
  