.title {display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.example-card {
    /* max-width: 800px; */
    width: 194px;
    margin: 11px;
    cursor: pointer;
    padding: 0px;
}

.canal-card {
    max-width: 220px;
    height: 465px;
}

.nombre{
    margin-left: 10px;
}