.title {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.example-card {
  margin: 11px;
  cursor: pointer;
  padding: 0px;
}

.canal-card {
  height: 465px;
}

.nombre {
  margin-left: 10px;
  text-align: left;
}
