<div class="canalosiptel-card1">
    <mat-card-header class="title">
        <mat-card-title>CANALES OSIPTEL</mat-card-title>
    </mat-card-header>

    <mat-card matRipple class="example-card" *ngFor="let canal of canales">
        <mat-list style="padding: 0px;">
            <mat-list-item (click)="openDialog()">
                <mat-icon mat-list-icon svgIcon="{{canal.icono}}"></mat-icon>
                <div style="font-weight: 200; font-size: smaller;">{{canal.nombre}}</div>
            </mat-list-item>
        </mat-list>
    </mat-card>

</div>