<div class="bloque-linea">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let c of canales">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{c.nombre}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>

                <mat-list-item class="canal-list-item" *ngIf="c.descripcion1">
                    <mat-icon mat-list-icon>description</mat-icon>
                    <div mat-line class="canal-mat-line">{{c.descripcion1}}</div>
                </mat-list-item>

                <mat-list-item class="canal-list-item" *ngIf="c.descripcion2">
                    <mat-icon mat-list-icon>description</mat-icon>
                    <div mat-line class="canal-mat-line">{{c.descripcion2}}</div>
                </mat-list-item>

            </mat-list>

        </mat-expansion-panel>
    </mat-accordion>
</div>