<h1 mat-dialog-title>Elige una Materia</h1>

<div mat-dialog-content>

  <div align="center">
    <mat-spinner *ngIf="this.eo == null"></mat-spinner>
  </div>

  <div mat-dialog-content style="text-align: center;">

    <div align="center" *ngIf="this.eo != null">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Empresa Operadora">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <p style="font-weight: 700;">{{this.my_eo.nombre}}</p>

    <div class="div-tabla" style="overflow: auto; max-height: 350px;">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Empresa </th>
          <td (click)="this.seleccionarEO(eo.id, eo.nombre)" style="cursor: pointer;" mat-cell *matCellDef="let eo">
            {{eo.nombre}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[3, 5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<div mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button (click)="onNoClick()">No Gracias</button>
  <button mat-button [mat-dialog-close]="this.my_eo" [disabled]="this.my_eo.id == null">Ok</button>
</div>
