<mat-sidenav-container [class.temadark]="cambiaTema" style="height: 100%;">

    <mat-sidenav #drawer class="sidenav" fixedInViewport style="width: 250px;"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'">

        <mat-toolbar color="primary"
            style="width: 100%; background-size: cover;"
            [ngStyle]="setStyles()">
            <mat-toolbar-row>
                <button fixedInViewport type="button" aria-label="Toggle sidenav" mat-icon-button
                    (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </mat-toolbar-row>
            <mat-toolbar-row></mat-toolbar-row>
            <mat-toolbar-row style="background: linear-gradient(to top, rgb(0, 0, 0), rgba(4, 4, 4, 0));">
                <span>Isabela Moner</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list>

                <mat-list-item [routerLink]="['/home']">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <div mat-line>Home</div>
                </mat-list-item>

                <mat-divider></mat-divider>
                
                <div mat-subheader>Mesa de Partes Virtual</div>
                <mat-list-item [routerLink]="['/denuncias']">
                    <mat-icon mat-list-icon>gavel</mat-icon>
                    <div mat-line>Denuncias</div>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>phonelink_lock</mat-icon>
                    <div mat-line>Cuestionamientos</div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <div mat-subheader>Canales de Atención</div>
                <mat-list-item [routerLink]="['/canal-osiptel']">
                    <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                    <div mat-line>OSIPTEL</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>support_agent</mat-icon>
                    <div mat-line>Empresas Operadoras</div>
                </mat-list-item>
            </mat-list>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar style="z-index: 100; position: fixed;" color="primary" class="mat-elevation-z6">
            <mat-toolbar-row>

                <button fixedInViewport type="button" aria-label="Toggle sidenav" mat-icon-button
                    (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <button mat-icon-button aria-label="Logo" routerLink="/">
                    <mat-icon svgIcon="logo"></mat-icon>
                </button>
                <span>OSIPTEL</span>

                <span class="spacer"></span>
                <button mat-icon-button class="material-icons" aria-label="Login" routerLink="/login">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <button mat-icon-button class="material-icons" aria-label="Cambiar tema" (click)="cambiarTema()">
                    <mat-icon>invert_colors</mat-icon>
                </button>
                <button mat-icon-button class="material-icons" aria-label="Salir">
                    <mat-icon>exit_to_app</mat-icon>
                </button>

            </mat-toolbar-row>
        </mat-toolbar>

        <mat-drawer-container class="contenido-main">
            <router-outlet></router-outlet>
        </mat-drawer-container>

    </mat-sidenav-content>

</mat-sidenav-container>