.logo {
  max-width: 200px;
  margin-top: 10px;
}

mat-form-field {
  margin: 5px;
  width: 250px;
}

.conf-card {
  max-width: 300px;
  margin: 1em;
  display: inline-block;
  position: absolute;
  z-index: 99;
  bottom: 30%;
}

.container{
  display: flex;
  justify-content: center;
}

