<div style="text-align: center;">

    <mat-card class="conf-card">
        <img class="logo" src="https://www.osiptel.gob.pe/repositorioaps/data/1/1/1/zon/zona-logo/images/logo.png">
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input #usuario matInput placeholder="Email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input #contrasena matInput placeholder="Contraseña" type="password">
        </mat-form-field>
        <button style="border-radius: 15px;" (click)="logup()" mat-raised-button
            color="primary">Ingresar</button>
        <br>
        <button style="border-radius: 15px; margin-top: 20px;" (click)="cancel()" mat-raised-button
            color="accent">Cancelar</button>
    </mat-card>

</div>