body {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.login-card {
  max-width: 300px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.logo {
  max-width: 200px;
}

.login-content {
  max-width: 300px;
  display: table-cell;
  vertical-align: middle;
}
