<mat-card class="denuncias-card">
    <mat-card-header>
        <mat-card-title>Denuncias</mat-card-title>
        <mat-card-subtitle>Reclame sus derechos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.flaticon.es/svg/static/icons/svg/3782/3782248.svg"
        alt="Imagen de reclamar tus derechos">
    <mat-card-content>
        <p>
            Los usuarios del servicio de telecomunicaciones tienen derecho a presentar una denuncia al OSIPTEL.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">Denunciar</button>
        <button mat-button color="warn">Info</button>
    </mat-card-actions>
</mat-card>