.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .mat-tab-group {
    margin-bottom: 48px;
  }
  
  table {
    width: 100%;
  }
  
  ._header{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .element-description {
    padding: 16px;
    width: 100%;
    text-align: center;
  }

  ._det{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
  }