<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Logo" routerLink="/">
        <mat-icon svgIcon="logo"></mat-icon>
    </button>
    <span>OSIPTEL</span>
    <span class="example-spacer"></span>
    <div class="searchbox">
        <input class="search" type="search">
        <button mat-icon-button class="material-icons" aria-label="Search" style="color: black;">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="material-icons" aria-label="Login" routerLink="/login">
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="material-icons" aria-label="Cambiar tema" (click)="cambiarTema()">
        <mat-icon>invert_colors</mat-icon>
    </button>
    <button mat-icon-button class="material-icons" aria-label="Salir">
        <mat-icon>exit_to_app</mat-icon>
    </button>

</mat-toolbar>