<h1 mat-dialog-title>Descripción de Canal de Atención OSIPTEL</h1>
<mat-dialog-content class="mat-typography">
    <app-oficina-osiptel></app-oficina-osiptel>
    <app-oficina-osiptel></app-oficina-osiptel>
    <app-mapa-dialog-oficina style="width: 250px;height: 250px;display: inline-block;"></app-mapa-dialog-oficina>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button>No Thanks</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</mat-dialog-actions>