<div class="content">
    <mat-card class="col-3">
        <mat-list class="menu-i">
            <div mat-header>Mesa de Partes Virtual</div>
            <br>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div mat-line class="_but">Bandeja de Entrada</div>
                <mat-icon class="_ico">inbox</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div mat-line class="_but">Denuncias</div>
                <mat-icon class="_ico">gavel</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <div mat-line class="_but">Cuestionamientos</div>
                <mat-icon class="_ico">phonelink_lock</mat-icon>
            </mat-list-item>
            <mat-list-item>
                <div mat-line class="_but">Atención y Orientación</div>
                <mat-icon class="_ico">support_agent</mat-icon>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>