<mat-card class="conf-card">
    <mat-card-content>

        <mat-card-title>Verifica tu identidad</mat-card-title>
        <mat-card-subtitle>Para brindarte el acceso a la información es necesario validar tu identidad.</mat-card-subtitle>
        <form style="height: 65px;">
            <mat-form-field appearance="outline" style="min-width: 140px;">
                <mat-label>DNI</mat-label>
                <input [(ngModel)]="persona_dni.dni" type="text" required matInput name="dni">
            </mat-form-field>
            <mat-form-field appearance="outline" style="max-width: 70px;">
                <mat-label>Cui</mat-label>
                <input [(ngModel)]="persona_dni.cui" type="text" required matInput name="cui">
            </mat-form-field>
            <span class="info">
                <mat-icon class="material-icons" color="accent">info</mat-icon>
                <span class="capa">
                    <img src="https://mesapartesvirtual.jne.gob.pe/dist/assets/imgs/digitodni.png">
                </span>
            </span>

            <button style="border-radius: 15px; bottom: 10%;" mat-raised-button color="primary"
                (click)="getpersona()">Siguiente</button>
        </form>
    </mat-card-content>
</mat-card>
