mat-form-field {
  margin: 5px;
  width: 100px;
}

.conf-card {
  display: flex;
  justify-content: center;
}

.info{
  background-color: none;
  margin-left: 5px;
  margin-right: 5px;
}
.info .capa{
  visibility: hidden;
    width: 80px;
    padding: 10px;
    position: absolute;
    z-index: 99;
    bottom: 30%;
    right: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}
.info img{
  width: 250px;
}

.info:hover > .capa{
  opacity: 1;
  visibility: visible;
}