<div>

  <app-titulo-dialog [titulo]="op"></app-titulo-dialog>

  <mat-card-title style="margin-bottom: 0px; padding: 4px;">¡Comunícate con Nosotros!</mat-card-title>
  <mat-card-content class="atencion">
    <app-card-atencion-eo></app-card-atencion-eo>
  </mat-card-content>

  <mat-card-content>
    <app-oficina-eo></app-oficina-eo>
  </mat-card-content>
  <div class="row col-12">
    <mat-card class="col-lg-3">
      <mat-card-content>
        <mat-card-title>Ubicación</mat-card-title>
        <app-select-ubicacion (idDistrito)="getDistrito($event)"></app-select-ubicacion>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-lg-4">
      <app-descripcion-eo [idDist]="idDistro" style="height: 300px; display: inline-block;">
      </app-descripcion-eo>
    </mat-card>
    <mat-card class="col-lg-3">
      <app-mapa-dialog-oficina
        style="margin-right: 0px; width: 250px; height: 300px; display: inline-block;"></app-mapa-dialog-oficina>
    </mat-card>


    <!-- <mat-dialog-actions align="end">
  <button mat-icon-button [mat-dialog-close]="">
    <mat-icon>west</mat-icon>
  </button>
</mat-dialog-actions> -->

  </div>


</div>