<app-titulo-dialog [titulo]="'Movistar'" [imagen]="'/assets/img/movistar.svg'"></app-titulo-dialog>

<mat-card style="padding: 4px;">
  <h2 class="example-h2" style="margin-bottom: 0px; padding: 4px;">!Comunícate con Nosotros!</h2>
  <mat-card-content class="atencion">

    <app-card-atencion-eo></app-card-atencion-eo>

  </mat-card-content>
</mat-card>

<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Ubicación</h2>
    <app-oficina-eo (idDistrito)="getDistrito($event)"></app-oficina-eo>
  </mat-card-content>
</mat-card>

<mat-dialog-content class="mat-typography" style="padding-top: 10px;">
  <div>
    <app-descripcion-eo [idEO]="this.idEO" [idDist]="this.idDistro" style="display: inline-block;"></app-descripcion-eo>
    <app-mapa-dialog-oficina style="width: 250px;height: 250px; display: inline-block;"></app-mapa-dialog-oficina>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-icon-button [mat-dialog-close]="">
    <mat-icon>west</mat-icon>
  </button>
</mat-dialog-actions>

