.atencion {
  display: flex;
  justify-content: center;
}

.atencion > mat-card-content {
  background-color: #ffffff;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.medio {
  border: 2px solid rgb(40, 43, 180);
  border-radius: 8px;
}
