<div>
  <mat-dialog-content class="contenedor">
    <mat-form-field appearance="outline">
      <mat-label>Selecciona Departamento</mat-label>
      <mat-select>
        <mat-option value="d.id" *ngFor="let de of departamentos">
          {{de.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Selecciona Provincia</mat-label>
      <mat-select>
        <mat-option value="d.id" *ngFor="let p of provincias">
          {{p.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Selecciona Distrito</mat-label>
      <mat-select>
        <mat-option value="d.id" *ngFor="let d of distritos">
          {{d.nombre}}<ng-container></ng-container>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
</div>
