.canal-mat-line {
  text-align: justify;
}

/* .contenedor {display: flex;
display: -ms-flexbox;
display: -webkit-flex;
justify-content: center;
align-items: center;
flex: 100px;
} */

mat-form-field {
margin-right: 15px;
}
