<ngx-file-drop required dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        Arrastra aquí la resolución.
        <button mat-raised-button color="accent" (click)="openFileSelector()" style="font-size: 10px;">Examinar...</button>
    </ng-template>
</ngx-file-drop>
<div class="upload-table">
    <table class="table">
        <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
                <td><strong>{{ item.relativePath }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>
