<mat-card class="conf-card">
    <mat-card-title>Registrar</mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>DNI</mat-label>
                <input [(ngModel)]="persona_dni.dni" type="text" required matInput name="dni" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cui</mat-label>
                <input [(ngModel)]="persona_dni.cui" type="text" required matInput name="cui" >
            </mat-form-field>
            <button style="border-radius: 15px;" mat-raised-button color="primary"
                (click)="getpersona()">Siguiente</button>
        </form>
    </mat-card-content>

</mat-card>