<mat-form-field appearance="outline">
    <mat-label>Nombres</mat-label>
    <input #name matInput placeholder="Placeholder">
    <mat-icon matSuffix>person</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Apellidos</mat-label>
    <input #apellido matInput placeholder="Placeholder">
    <mat-icon matSuffix>person</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Número de Documento de Identidad</mat-label>
    <input #dni matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Numero de Celular</mat-label>
    <input #celular matInput placeholder="Placeholder">
    <mat-icon matSuffix>phone</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>IMEI</mat-label>
    <input #imei matInput placeholder="Placeholder">
    <mat-icon matSuffix>space_bar</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
</mat-form-field>
<ul>
    <li *ngFor="let c of client | async">
        {{c.name}}
    </li>
</ul>
<button (click)="create(dni.value, name.value, apellido.value, celular.value, imei.value)" mat-raised-button color="primary">Registrarme</button>