<div class="container">

    <div class="row" style="width: 100%;">

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
            <mat-card class="service-box">
                <div class="service-icon">
                      <mat-icon svgIcon="call-center" aria-hidden="false" aria-label="Example thumbs up SVG icon" style="width: 100px; height: 100px;"></mat-icon>
                </div>
                <div class="service-content">
                    <mat-card-title class="title">Telefónico</mat-card-title>

                    <span>Llámanos gratis desde un móvil o fijo Movistar</span>
                    <br>
                </div>
            </mat-card>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
            <mat-card class="service-box ">
                <div class="service-icon">
                      <mat-icon svgIcon="web-eo" aria-hidden="false" aria-label="Example thumbs up SVG icon" style="width: 100px; height: 100px;"></mat-icon>
                </div>
                <div class="service-content">
                    <mat-card-title class="title">Web</mat-card-title>

                    <span>Matriz de canales de atención .</span>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" [routerLink]="['/canal-atencion-eo']">Ir a canales</button>
                </div>
            </mat-card>
        </div>

        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
            <mat-card class="service-box ">
                <div class="service-icon">
                    <div class="front-content">
                        <mat-card-title>Aplicativo Móvil</mat-card-title>
                    </div>
                </div>
                <div class="service-content">
                    <mat-card-title class="title">CUESTIONAMIENTO AL BLOQUEO</mat-card-title>
                    <span>Puedes hacer seguimiento a los cuestionamientos ante tu operador móvil sobre el bloqueo
                        del equipo terminal y/o suspensión de tu servicio.</span>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" [routerLink]="['/cuestionamientos']">Ir a cuestionamientos</button>
                </div>
            </mat-card>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
            <mat-card class="service-box ">
                <div class="service-icon">
                    <div class="front-content">
                        <mat-card-title>WhatsApp</mat-card-title>
                    </div>
                </div>
                <div class="service-content">
                    <mat-card-title class="title">ATENCIÓN Y ORIENTACIÓN DEL OSIPTEL</mat-card-title>
                    <span>Solución tecnológica centralizada de los diversos canales de atención y orientación del
                        OSIPTEL.</span>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" [routerLink]="['/canal-osiptel']">Conocer Canales</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
