<div class="container">

  <div class="row" style="width: 100%;">

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
      <mat-card class="service-box" style="margin-top: 3px;">
        <div class="service-icon">
          <mat-icon svgIcon="web-eo" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            style="width: 100px; height: 100px;"></mat-icon>
            <mat-card-title class="title">Telefónico</mat-card-title>
        </div>
        <div class="service-content">
          <mat-card-title class="title">Telefónico</mat-card-title>

          <span>Llámanos gratis desde un móvil o fijo Movistar</span>
          <br>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
      <mat-card class="service-box" style="margin-top: 3px;">
        <div class="service-icon">
          <mat-icon svgIcon="web-eo" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            style="width: 100px; height: 100px;"></mat-icon>
            <mat-card-title class="title">Website</mat-card-title>
        </div>
        <div class="service-content">
          <mat-card-title class="title">Website</mat-card-title>

          <span>Llámanos gratis desde un móvil o fijo Movistar</span>
          <br>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
      <mat-card class="service-box" style="margin-top: 3px;">
        <div class="service-icon">
          <mat-icon svgIcon="web-eo" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            style="width: 100px; height: 100px;"></mat-icon>
            <mat-card-title class="title">Redes Sociales</mat-card-title>
        </div>
        <div class="service-content">
          <mat-card-title class="title">Redes Sociales</mat-card-title>

          <span>Llámanos gratis desde un móvil o fijo Movistar</span>
          <br>
        </div>
      </mat-card>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
      <mat-card class="service-box" style="margin-top: 3px;">
        <div class="service-icon">
          <mat-icon svgIcon="web-eo" aria-hidden="false" aria-label="Example thumbs up SVG icon"
            style="width: 100px; height: 100px;"></mat-icon>
            <mat-card-title class="title">Servicios y Requisitos </mat-card-title>
        </div>
        <div class="service-content">
          <mat-card-title class="title">Servicios y Requisitos </mat-card-title>

          <span>Llámanos gratis desde un móvil o fijo Movistar</span>
          <br>
        </div>
      </mat-card>
    </div>
  </div>
</div>