<mat-accordion>
    <mat-expansion-panel *ngFor="let o of oficinas">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{o.nombre}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-list>

            <mat-list-item>
                <mat-icon mat-list-icon>location_on</mat-icon>
                <div mat-line>{{o.direccion}}</div>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>local_phone</mat-icon>
                <div mat-line>{{o.telefono}}</div>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>stay_current_portrait</mat-icon>
                <div mat-line>{{o.celular1}}</div>
            </mat-list-item>

            <mat-list-item *ngIf="o.email">
                <mat-icon mat-list-icon>email</mat-icon>
                <div mat-line>{{o.email}}</div>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon>access_time</mat-icon>
                <div mat-line>{{o.horario}}</div>
            </mat-list-item>
            
        </mat-list>

    </mat-expansion-panel>
</mat-accordion>