<div>
  <mat-form-field appearance="outline">
    <mat-label>Departamento</mat-label>
    <mat-select [value]="'AMAZONAS'" (selectionChange)="this.getSedes()" [(ngModel)]="this.idDepa">
      <mat-option *ngFor="let d of departamentos" [value]="d.id">
        {{d.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card *ngFor="let o of oficinas">
    <mat-card-subtitle>{{o.nombre}}</mat-card-subtitle>
    <mat-list>

      <mat-list-item class="canal-list-item" *ngIf="o.direccion">
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line class="canal-mat-line">{{o.direccion}}</div>
      </mat-list-item>

      <mat-list-item class="canal-list-item" *ngIf="o.telefono">
        <mat-icon mat-list-icon>local_phone</mat-icon>
        <div mat-line class="canal-mat-line">{{o.telefono}}</div>
      </mat-list-item>

      <mat-list-item class="canal-list-item" *ngIf="o.celular1">
        <mat-icon mat-list-icon>stay_current_portrait</mat-icon>
        <div mat-line class="canal-mat-line">{{o.celular1}}</div>
      </mat-list-item>

      <mat-list-item class="canal-list-item" *ngIf="o.celular2">
        <mat-icon mat-list-icon>stay_current_portrait</mat-icon>
        <div mat-line class="canal-mat-line">{{o.celular2}}</div>
      </mat-list-item>

      <mat-list-item class="canal-list-item" *ngIf="o.email">
        <mat-icon mat-list-icon>email</mat-icon>
        <div mat-line class="canal-mat-line">{{o.email}}</div>
      </mat-list-item>

      <mat-list-item class="canal-list-item" *ngIf="o.horario">
        <mat-icon mat-list-icon>access_time</mat-icon>
        <div mat-line class="canal-mat-line">{{o.horario}}</div>
      </mat-list-item>

    </mat-list>

  </mat-card>
</div>
