<mat-card class="canales-card">
    <mat-card-header>
        <mat-card-title>Canales de Atención</mat-card-title>
        <mat-card-subtitle>Empresas Operadoras</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.flaticon.es/svg/static/icons/svg/651/651016.svg"
        alt="Imagen de reclamar tus derechos">
    <mat-card-content>
        <p>
            Los usuarios podrán encontrar las diversas líneas de atención brindadas por cada empresa operadora.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent">Ir</button>
        <button mat-button color="warn">Info</button>
    </mat-card-actions>
</mat-card>