.canales-card {
    max-width: 220px;
    height: 465px;
}

.example-button-row .mat-button-base {
    margin: 10px 10px 10px 0;
  }

mat-icon {
height: 50px;
width: 50px;
}

button {
  height: 70px;
  width: 70px;
  cursor: pointer;
  }