<div class="col-lg-12 row" >

  <mat-card class="col-lg-2">

    <mat-card-header>
      <mat-card-title>Canales de Atención </mat-card-title>
      <mat-card-subtitle>EMPRESAS OPERADORAS</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container" *ngFor="let canal of canales">
              <button mat-icon-button (click)="funChild(canal)">
                <mat-icon svgIcon="{{canal.icono}}"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
    </mat-card-content>

  </mat-card>

  <mat-card class="col-lg-9" [ngSwitch]="child">
    <div *ngSwitchCase="1">
      <app-dialog-canal-des-eo [op]="operadora"></app-dialog-canal-des-eo>
    </div>
    <div *ngSwitchCase="2">
      <app-dialog-canal-des-eo [op]="operadora"></app-dialog-canal-des-eo>
    </div>
    <div *ngSwitchCase="3">
      <app-dialog-canal-des-eo [op]="operadora"></app-dialog-canal-des-eo>
    </div>
    <div *ngSwitchCase="4">
      <app-dialog-canal-des-eo [op]="operadora"></app-dialog-canal-des-eo>
    </div>

  </mat-card>

</div>
