.canales-card {
    width: 250px;
    height: 90%;
}

.example-button-row .mat-button-base {
    margin: 40px 10px 10px 0;
  }

mat-icon {
height: 80px;
width: 80px;
}

button {
  height: 70px;
  width: 70px;
  cursor: pointer;
  }
